.help-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #195226;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  margin-left: -250px;
}
.help-page .container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}
.help-page h1 {
  color: rgb(243, 191, 98);
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}
.help-page .section {
  margin-bottom: 40px;
}
.help-page .section h2 {
  color: rgb(243, 191, 98);
  font-size: 2rem;
  margin-bottom: 20px;
}
.help-page .section h3 {
  color: #eebc1d;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.help-page .section p, .help-page .section ol {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
.help-page .section ol {
  padding-left: 20px;
  list-style: decimal;
}
.help-page .section a {
  color: rgb(243, 191, 98);
  text-decoration: none;
}
.help-page .section a:hover {
  text-decoration: underline;
}

.goback-button {
  position: absolute;
  color: rgb(243, 191, 98);
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
}