.reported-issues-page {
  padding: 20px;
  background-color: #f0f0f0; /* Light grey background */
  text-align: center;
}
.reported-issues-page h1 {
  color: #333; /* Dark grey color for the heading */
  margin-bottom: 20px;
}
.reported-issues-page .issues-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reported-issues-page .issue-card {
  background-color: #fff; /* White background for the issue card */
  padding: 60px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}
.reported-issues-page .issue-card h2 {
  color: #333; /* Dark grey color for the issue title */
  margin-bottom: 10px;
}
.reported-issues-page .issue-card p {
  color: #666; /* Medium grey color for the text */
  margin: 5px 0;
}
.reported-issues-page .issue-card strong {
  color: #000; /* Black color for labels */
}