.submitted-report-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d3d3; /* Light grey background */
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tick-image {
  width: 200px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.menu-button, .logout-button {
  background-color: #000;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  margin: 0 10px;
}

.menu-button:hover, .logout-button:hover {
  background-color: #333;
}