//$accent-colour: #02584b;
// $text-color: #fdf9f9;
// $section-background: #ffffff;
// $background-color: #ffffff;
// $input-border: #000000;
// $primary-color: #000000;
// $hover-color: #c4c2be;
// $button-colour:black;
// $font-size-base: 28px; 
// $font-size-footer: 18px;
// $font-size-small: 14px;
// $secondary-colour: black;

//$accent-colour: #02584b;


@import '~bootstrap/scss/bootstrap';

$secondary-text-colour : #120f0f;
$accent-colour: #d1ffbd;
$text-color: #120f0f;
$section-background: #ffffff;
$background-color: #ffffff;
$input-border: #808080;
$input-focus-color: #66B539;
$primary-color: #66B539;
//$hover-color: #00AB41;
$button-colour:#66B539;
$font-size-base: 28px; 
$font-size-footer: 16px;
$font-size-small: 14px;
$button-text-color:rgb(255, 255, 255);
$secondary-colour: #66B539;
$heading-color:#60cc4af1;
$box-shadow: rgba(15, 215, 58, 0.312);

//$text-color: #ffffff;
$secondary-text-colour: #151B1F;
$section-background: #ffffff;
$primary-text-color: #ffffff;
$hover-color: #00ab41;
$button-colour: #66B539;
$secondary-colour: #D1FFBD;