@import '~bootstrap/scss/bootstrap';
@import '_colors';

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.forgot-password-page {
  width:50vw; 
  margin: 40px auto; 
  padding: 20px;
  padding-bottom: 0px;
  height: 50vh;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: white; 
  margin-top: 30%;
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;

    label {
      margin-bottom: 10px;
      font-size: 20px;
    }

    input {
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #919191;
      font-size: 16px;
      width: 100%;
      max-width: 300px;
    }
  }

  p {
    margin-top: 20px;
    color: $button-colour; // Use your existing color variable
  }

  .resend-btn{
    background-color: $button-colour;
    border: 1px solid $button-colour;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 8px;

    &:hover {
      background-color: $hover-color; 
    }
  }

  .close-button {
    display: block;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: $button-colour; // Use your existing color variable
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-color; // Use your existing color variable
    }
  }
}
