@import '~bootstrap/scss/bootstrap';
@import '_colors'; // Import your color variables

.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height
  background-color: #f8f9fa; // Light background color

  .back-button-container {
    position: fixed; /* Fixed positioning for top-left corner */
    top: 20px;
    left: 20px;
    z-index: 1000; /* Ensure it is above other content */
    width: 10%; /* Width of button container */
    display: flex; /* Center button in container */
    justify-content: center; /* Center button horizontally */
    align-items: center; /* Center button vertically */
    
    .goback-button {
      font-size: 24px;
      color: $button-colour;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $hover-color;
      }
    }
  }

  .reset-password-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); // Box shadow for the container
    background-color: white;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: $primary-color; // Your primary color
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Align labels to the left

      label {
        margin-bottom: 10px;
        font-size: 16px;
        color: #333; // Darker text color for labels
        width: 100%; // Ensure labels span full width for better alignment
      }

      input {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 100%;
        max-width: 300px;
      
        &:focus {
          border: 1px solid #b2b0b0;
          color: #666464;
        }
      }
      

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: $button-colour; // Your button color
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: $hover-color; // Your hover color
        }
      }
    }

    p {
      margin-top: 10px;
      text-align: center;
      color: $button-colour; // Your message color
    }
  }
}
