$form-heading-color: #fff;
$input-border-color: #666;
$placeholder-color: #999;
$btn-bg-color: #000;
$btn-hover-bg-color: #444;
$btn-active-bg-color: #222;
$form-section-bg: #000;


$primary-color: #333; // Dark gray for primary elements
$secondary-color: #666; // Medium gray for secondary elements
$text-color: #000; // Black for text
$button-color: #000; // Black for buttons
$button-hover-color: #444; // Darker gray for button hover state
$button-text-color: #fff; // White for button text
$border-color: #bbb; // Light gray for borders

$background-color: #000;
$text-color: #fff;
$card-bg-color: #333;
$card-border-color: #444;
$card-hover-bg-color: #555;
$loading-color: #888;

$padding: 16px; // Define a default padding value

$margin-bottom: 20px; // Define a default margin-bottom value

$font-weight-bold: 700; // Define a bold font-weight value

$margin-right: 20px; // Define a default margin-right value

$flex-grow: 1;

$margin-left: 15px; // Adjust the value as needed