@import "~bootstrap/scss/bootstrap";

// styles/main.scss

$primary-color: #66B539;
$background-color: #ffffff;
$card-bg-color: #ffffff;
$text-color: #000000;
$header-bg-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$border-radius: 8px;
$padding: 16px;

.pending-issues-container {
  width: 990px;
  margin: 0 auto;
  padding: $padding;
  background-color: $background-color;
  border-radius:none;
  box-shadow: none;
  height: 900px;

  .header {
    background-color: $header-bg-color;
    padding: $padding;
    border-radius: $border-radius $border-radius 0 0;
    text-align: center;

    h1 {
      margin: 0;
      color: $primary-color;
      font-size: 24px;
    }
  }

  .issues-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    .issue-card {
      background-color:#66B539;
      border: 1px solid rgb(7, 240, 104);
      border-radius: 8px;
      padding: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #00ab41;
      }

      h2 {
        margin: 0 0 0.5rem 0;
        font-size: 1.5rem;
      }

      p {
        margin: 0;
        font-size: 1rem;
        color: $text-color;
      }
    }
  }
  p {
    text-align: center;
    color: $text-color;
    font-size: 18px;
  }
}
.footer {
  background-color: #ffffff;
  padding: 1px;
  display: flex;
  justify-content: space-between;

  .footer-button {
    background-color: #66B539;
    color: white;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4caf50;
    }
  }
}
