body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .form-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .form-wrapper h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .input-group textarea {
    resize: none;
    height: 100px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #333;
  }
  